In [427]:
import pandas as pd
import struct
import math as math
df = pd.read_csv('FirstGenPokemon.csv')
display(df.head())

,Number,Name,Types,Type1,Type2,Height(m),Weight(kg),Male_Pct,Female_Pct,Capt_Rate,...,Poison_Dmg,Ground_Dmg,Flying_Dmg,Psychic_Dmg,Bug_Dmg,Rock_Dmg,Ghost_Dmg,Dragon_Dmg,Evolutions,Legendary
0,1,Bulbasaur,2,grass,poison,0.7,6.9,87.5,12.5,45,...,1.0,1.0,2.0,2.0,4.0,1.0,1,1,2,0
1,2,Ivysaur,2,grass,poison,1.0,13.0,87.5,12.5,45,...,1.0,1.0,2.0,2.0,4.0,1.0,1,1,2,0
2,3,Venusaur,2,grass,poison,2.0,100.0,87.5,12.5,45,...,1.0,1.0,2.0,2.0,4.0,1.0,1,1,2,0
3,4,Charmander,1,fire,NaN,0.6,8.5,87.5,12.5,45,...,1.0,2.0,1.0,1.0,0.5,2.0,1,1,2,0
4,5,Charmeleon,1,fire,NaN,1.1,19.0,87.5,12.5,45,...,1.0,2.0,1.0,1.0,0.5,2.0,1,1,2,0

In [428]:
type_conversion = {
    'None': 99,
    'normal': 0,
    'fighting': 1,
    'flying': 2,
    'poison': 3,
    'ground': 4,
    'rock': 5,
    'bug': 6,
    'ghost': 7,
    'steel': 8,
    'fire': 9,
    'water': 10,
    'grass': 11,
    'electric': 12,
    'psychic': 13,
    'ice': 14,
    'dragon': 15,
    'dark': 16,
    'fairy': 17
}

In [429]:
# Function to convert types to their corresponding numbers
def convert_type(type_value):
    return type_conversion[type_value] if type_value in type_conversion else -1

In [430]:
# Extract the relevant columns
df_extracted = df[["Number", " Type1", " Type2"]]
display(df_extracted.tail())

     Number    Type1   Type2
146     147   dragon     NaN
147     148   dragon     NaN
148     149   dragon  flying
149     150  psychic     NaN
150     151  psychic     NaN

In [431]:
# Replace NaN values with None
df_extracted[' Type1'] = df_extracted[' Type1'].fillna("None")
df_extracted[' Type2'] = df_extracted[' Type2'].fillna("None")

C:\Users\matth\AppData\Local\Temp\ipykernel_18236\3409297740.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_extracted[' Type1'] = df_extracted[' Type1'].fillna("None")
C:\Users\matth\AppData\Local\Temp\ipykernel_18236\3409297740.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_extracted[' Type2'] = df_extracted[' Type2'].fillna("None")

In [432]:
# Replace the type strings with their corresponding numbers
df_extracted[' Type1'] = df_extracted[' Type1'].apply(convert_type)
df_extracted[' Type2'] = df_extracted[' Type2'].apply(convert_type)
display(df_extracted.head())

C:\Users\matth\AppData\Local\Temp\ipykernel_18236\1906566959.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_extracted[' Type1'] = df_extracted[' Type1'].apply(convert_type)
C:\Users\matth\AppData\Local\Temp\ipykernel_18236\1906566959.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_extracted[' Type2'] = df_extracted[' Type2'].apply(convert_type)

   Number   Type1   Type2
0       1      11       3
1       2      11       3
2       3      11       3
3       4       9      99
4       5       9      99

In [433]:
# Create the desired format
df_extracted['Formatted'] = df_extracted.apply(lambda row: f"{row['Number']}{row[' Type1']}{row[' Type2']}", axis=1)

C:\Users\matth\AppData\Local\Temp\ipykernel_18236\4252081070.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_extracted['Formatted'] = df_extracted.apply(lambda row: f"{row['Number']}{row[' Type1']}{row[' Type2']}", axis=1)

In [434]:
# Output the result to separate text files
# Function to write a column to a binary file
def write_to_binary_file(filename, data):
    with open(filename, 'wb') as f:
        for value in data:
            f.write(struct.pack('I', value))  # 'i' format for a 4-byte integer

 # Write each column to a separate binary file
write_to_binary_file('pokemon_type1.bin', df_extracted[' Type1'])
write_to_binary_file('pokemon_type2.bin', df_extracted[' Type2'])

In [435]:
# Function to read and print the contents of a binary file
def read_from_binary_file(filename):
    with open(filename, 'rb') as f:
        while chunk := f.read(4):  # Read 4 bytes at a time (size of an unsigned integer)
            value = struct.unpack('I', chunk)[0]
            print(value)

print("Numbers:")
read_from_binary_file('pokemon_type2.bin')

Numbers:
3
3
3
99
99
2
99
99
99
99
99
2
3
3
3
2
2
2
99
99
2
2
99
99
99
99
99
99
99
99
4
99
99
4
99
99
99
99
99
99
2
2
3
3
3
11
11
3
3
99
99
99
99
99
99
99
99
99
99
99
99
1
99
99
99
99
99
99
3
3
3
3
3
4
4
4
99
99
13
13
99
99
2
2
2
99
14
99
99
99
14
3
3
3
4
99
99
99
99
99
99
13
13
99
99
99
99
99
99
99
5
5
99
99
99
99
99
99
99
99
13
99
2
13
99
99
99
99
99
2
14
99
99
99
99
99
99
10
10
10
10
2
99
2
2
2
99
99
2
99
99